body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}


/* ------ ALL CONTAINER STYLING ----------*/

/* Left menu */
#left-menu {
    line-height: 77px;
}


/* Right menu */
#right-menu {
    line-height: 77px;
}


/* The container that holds everything in the menu */
.menu-container {
    display: flex;
    padding: 190px;

}



/* ----- MENU IMG, DESCRIPTION STYLING------- */


/* styling for all of the dish images */
.food-img {

    width: 238px;
    height: 150px;
    border-radius: 5px;
    border: 3px rgb(255, 224, 167) solid;

}

.dish-info {
    display: flex;
    margin-bottom: 38px;
}

p {

    line-height: 18px;
    margin-top: -47px;
    font-size: 14px;
}

.info-box {
    margin-top: -49px;
}