body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}


h1 {
    text-align: center;
}

h4 {
    line-height: 121px;
    color: rgb(157, 107, 15) solid;
}

h5 {
    text-align: center;
}


/* ------ ALL CONTAINER STYLING ----------*/

/* Left menu */
#left-menu {
    line-height: 77px;
}


/* Right menu */
#right-menu {
    line-height: 77px;
}


/* The container that holds everything in the menu */
.menu-container {

    padding: 190px;
    margin-left: 191px;


}



/* ----- MENU IMG, DESCRIPTION STYLING------- */


/* styling for all of the dish images */
.food-img {

    width: 238px;
    height: 150px;
    border-radius: 5px;
    border: 3px rgb(208, 140, 15) solid;

}

.food-description {
    margin-left: 29px;
}

.dish-info {
    display: flex;
    margin-bottom: 33px;
}

p {

    line-height: 18px;
    margin-top: -47px;
    font-size: 14px;
    color: rgb(196, 165, 128);
}

.info-box {
    margin-top: -49px;
}



/* BUTTONS */

#button-container {

    display: flex;
    justify-content: center;
    gap: 12px;

}

.buttons {
    padding: 10px;
    color: rgb(208, 140, 15);
    background-color: transparent;
    border-radius: 5px;
    border: 3px rgb(208, 140, 15) solid;


}

/* MOBILE MEDIA QUERIES */
@media only screen and (max-width: 767px) {

    h1 {
        font-size: 55px;
    }

    h5 {
        font-size: 26px;
    }

    #button-container {
        gap: 47px;
        margin-bottom: 50px;
    }

    .buttons {
        padding: 18px;
    }

    .menu-container {
        display: contents;
    }

}

/* Smaller mobile devices */
@media only screen and (min-width: 0px) and (max-width: 766px) {

    h1 {
        font-size: 30px;
    }

    h5 {
        font-size: 14px;
    }

    .dish-info {
        display: table;
        margin-left: 51px;
    }

    .food-description {
        margin-left: 3px;
    }

    #button-container {
        gap: 29px;

    }

    .buttons {
        padding: 3px;
    }

    .menu-container {
        display: contents;
    }
}

/* TABLETS */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    #button-container {
        margin-bottom: 40px;
        gap: 48px;
    }

    .buttons {

        padding: 26px;
    }

    .menu-container {
        display: contents;
    }

    h4 {
        font-size: 21px;
    }

    h5 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

}